# **Operator**
Operator simbol simbol yang dapat digunakan untuk mengubah nilai dari satu variabel dengan melibatkan satu atau lebih variabel dan literal.
1. Operator Aritmatika
2. Operator Assignment
3. Operator Pembanding
4. Operator Logika
5. Operator Membership

## Operator Aritmatika
Operator Aritmatika digunakan untuk melakukan operasimatematika yang umum.
Macam-macam Operator Aritmatika, yaitu:

. + : Penjumlahan

. - : Pngurangan

. * : Perkalian

. / : Pembagian

% : Modulus

** : Perpangkatan

// : Pembagian  dengan hasil pembulatan flooring

### Contoh Penggunaan Operator Aritmatika

In [7]:
#penjumlahan
print('penjumlahan')
print(2+2)
#pengurangan
print('pengurangan')
print(2-3)
#perkalian
print('perkalian')
print('-'*20)
print(2*3)
#pembagian
print('pembagian')
print('-'*20)
print(2/3)
#Modulus
print('Modulus')
print('-'*20)
print(3%2)
#Perpangkatan
print('Perpangkatan')
print('-'*20)
print(2**3)
#Pembagian dengan hasil pembulatan flooring
print('Pembagian pembulatan flooring')
print('-'*20)
print(3//2)

penjumlahan
4
pengurangan
-1
perkalian
--------------------
6
pembagian
--------------------
0.6666666666666666
Modulus
--------------------
1
Perpangkatan
--------------------
8
Pembagian pembulatan flooring
--------------------
1

### Latihan Operator 1

### Jawaban

In [8]:
#penjumlahan
print('penjumlahan')
print(3+8)
#pengurangan
print('pengurangan')
print(3-8)
#perkalian
print('perkalian')
print('-'*20)
print(3*8)
#pembagian
print('pembagian')
print('-'*20)
print(3/8)
#Modulus
print('Modulus')
print('-'*20)
print(8%3)
#Perpangkatan
print('Perpangkatan')
print('-'*20)
print(8**3)
#Pembagian dengan hasil pembulatan flooring
print('Pembagian pembulatan flooring')
print('-'*20)
print(3//8)

penjumlahan
11
pengurangan
-5
perkalian
--------------------
24
pembagian
--------------------
0.375
Modulus
--------------------
2
Perpangkatan
--------------------
512
Pembagian pembulatan flooring
--------------------
0

### Operator Assignment
Operator Assignment digunakan untuk menyimpan nilai menjadi suatu variabel

= : Contohnya x = 5 -> x = 5

+= : Contohnya x = x + 5 -> x+=5

-=: Contohnya x = x - 5 -> x -= 5

*= : Contohnya x = x * 5 -> x *= 5

/= : Contohnya x = x / 5 -> x /= 5

%= : Contohnya x = x % 5 -> x %= 5

// : Contohnya x = x // 5 -> x //= 5

** : Contohnya x = x ** 5 -> **= 5

###Contoh Penggunaan Operator Assignment

In [1]:
#Penjumlahan
print('Penjumlahan')
x = 5
x = x+5
print(x)
x = 5
x += 5
print(x)
print('-'*20)

#Pengurangan
print('Pengurangan')
x=5
x = x-5
print(x)
x=5
x-=3
print(x)
print('-'*20)

#Perkalian
print('Perkalian')
x=5
x = x*5
print(x)
x=5
x*=3
print(x)
print('-'*20)

#Pembagian
print('pembagian')
x=5
x = x/5
print(x)
x=5
x/=3
print(x)
print('-'*20)

#Modulus
print('Modulus')
x=5
x=x%5
print(x)
x=5
x%=3
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Flooring')
x=5
x=x//5
print(x)
x = 5
x //=3
print(x)
print('-'*20)

#Perpangkatan
print('Perpangkatan')
x=5
x=x**5
print(x)
x=5
x**=3
print(x)
print('-'*20)

Penjumlahan
10
10
--------------------
Pengurangan
0
2
--------------------
Perkalian
25
15
--------------------
pembagian
1.0
1.6666666666666667
--------------------
Modulus
0
2
--------------------
Pembagian Flooring
1
1
--------------------
Perpangkatan
3125
125
--------------------

### Latihan Operator 2

###Jawaban

In [9]:
#Penjumlahan
print('Penjumlahan')
x = 2
x = x+7
print(x)
x = 2
x += 7
print(x)
print('-'*20)

#Pengurangan
print('Pengurangan')
x=2
x = x-7
print(x)
x=2
x-=4
print(x)
print('-'*20)

#Perkalian
print('Perkalian')
x=3
x = x*7
print(x)
x=3
x*=5
print(x)
print('-'*20)

#Pembagian
print('pembagian')
x=6
x = x/3
print(x)
x=6
x/=4
print(x)
print('-'*20)

#Modulus
print('Modulus')
x=7
x=x%3
print(x)
x=7
x%=3
print(x)
print('-'*20)

#Pembagian Flooring
print('Pembagian Flooring')
x=7
x=x//2
print(x)
x = 7
x //= 2
print(x)
print('-'*20)

#Perpangkatan
print('Perpangkatan')
x= 6
x=x**3
print(x)
x=6
x**=2
print(x)
print('-'*20)

Penjumlahan
9
9
--------------------
Pengurangan
-5
-2
--------------------
Perkalian
21
15
--------------------
pembagian
2.0
1.5
--------------------
Modulus
1
1
--------------------
Pembagian Flooring
3
3
--------------------
Perpangkatan
216
36
--------------------

###Operator Pembanding

Operator Pembanding digunakan untuk membandingkan 2 nilai atau variabel Macam macam Operator pembanding:

 == -> samadengan

  != -> tidak samadengan

. > -> lebih dari

  <  -> kurang dari

. >= -> lebih dari dan sanadengan

  <= kurang dari dan samadengan

###Contoh penggunaan operator pembanding

In [2]:
print(2==2)

print(2!=2)

print(2>2)

print(2<2)

print(2>=2)

print(2<=2)

True
False
False
False
True
True

###Latihan Operator 3

###Jawaban

In [10]:
 print(5==3)

print(5!=1)

print(7>4)

print(7<3)

print(9>=4)

print(8<=7)

False
True
True
False
True
False

###Operator Logika

Operator logika digunakan untuk mengkombinasikan statement statement kondisional

Macam macam opertaor logika:

and -> kondisi menjadi benar apabila semua statementnya benar

or -> kondisi senjadi benar apabila salah satu statementnya ada yang benar

not -> membalik hasil adri benar ke salah dan salah ke benar

###Contoh penggunaan operator logika

In [3]:
print(True and False)

print(False or False)

print (not False and True)

False
False
True

###Latihan Operator 4

###Jawaban

In [11]:
print(False and False)

print(True or not True)

print (False and not True)

False
True
False

###Operator Membership/ Keanggotaan

Operator keanggotaan digunakan untuk menguji apakah urutan disajikan dalam suatu objek

Macam macam operator Keanggotaan:

in -> return True ketika nilai tertentu dalam sebuah urutan ada

not in -> return True ketika nilai tertentu dalam sebuah urutan tidak ada

###Contoh penggunaan operator keanggotaan

In [4]:
a=(1,2,3,4,5,6)
b=2

print(b in a)

print('-' *20)
a=(1,2,3,4,5,6)
b=7
print(b not in a)

True
--------------------
True

###Latihan Operator 5

###Jawaban

In [12]:
x=(6,9,3,2,4)
y=1

print(y in x)

print('-' *20)
y=(5,8,1,3,6)
x=8
print(x not in y)

False
--------------------
False

###**Variabel**

Variabel: Lokal penyimpanan yang dapat digunakan untuk menampung sebuah data atau inform

Syarat syarat penamaan variabel

1. Karakter-karakter yang digunakan untuk penamaan variable adalah alphabet, angka dan underscore
2. Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka
3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahasa python seperti for, if dan lainnya
4. Karakter pada nama variabel bersifat sensitif (case-sensitif)

In [6]:
# membuat variabel
kalimat = 'ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

#menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
4
2.5
True
(4+1j)

###Latihan 1

###Jawaban

In [14]:
# membuat variabel
buah = 'ada satu apel'
tipe1 = 8
tipe2 = 3.7
tipe3 = not True
tipe4 = 3j + 2

# menampilkan variabel
print(buah)
print(tipe1)
print(tipe2)
print(tipe3)
print(tipe4)

ada satu apel
8
3.7
False
(2+3j)

### **Tipe Data dan Konversi Data**

####Tipe Data

5 tipe data yaitu

1. Integer atau bilangan bulat

2. Float atau bilangan desimal

3. string atau kalimat

4. Boolean yang terdiri dari True dan False

5. Complex yang merupakan bilangan kompleks

In [15]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

###Latihan 2

###Jawaban

In [16]:
# menampilkan tipe data
print(type(buah))
print(type(tipe1))
print(type(tipe2))
print(type(tipe3))
print(type(tipe4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

###Konversi Tipe Data

In [19]:
# konversi tipe data integer
print(int(bilangan1))
print(int(bilangan2))

4
2

In [20]:
# konversi tipe data float
print(float(bilangan1))
print(float(bilangan2))

4.0
2.5

In [ ]:
# konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

4
2.5
True

In [ ]:
# konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

True
True

In [ ]:
# konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

(4+0j)
(2.5+0j)
(1+0j)

###Latihan 3

###Jawaban

In [22]:
# konversi tipe data integer
print(int(tipe1))
print(int(tipe2))

print('-'*20)
# konversi tipe data float
print(float(tipe1))
print(float(tipe2))

print('-'*20)
# konversi tipe data string
print(str(tipe1))
print(str(tipe2))
print(str(tipe3))

print('-'*20)
# konversi tipe data bool
print(bool(tipe1))
print(bool(tipe2))

print('-'*20)
# konversi tipe data complex
print(complex(tipe1))
print(complex(tipe2))
print(complex(tipe3))

8
3
--------------------
8.0
3.7
--------------------
8
3.7
False
--------------------
True
True
--------------------
(8+0j)
(3.7+0j)
0j