###List
List adalah jenis kumpulan data terurut(ordered sequence), bisa diubah elemennya(mutable), bisa ditambahkan elemen baru atau menghapus elemen(changeable), dan merupakan salah satu variabel yang sering digunakan untuk Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen dipisahkan dengan koma.

Setiap data di dalamnya bdapat diakses dengan indeks yang mulai dari 0.

In [2]:
#Contoh List
L1 = [1,4,2,13]
print(type(L1))

<class 'list'>

In [3]:
L2 =['a','python',3]
print(L2)
print(type(L2))

['a', 'python', 3]
<class 'list'>

In [4]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'python', 3]

Indeks di Python(List, Tuple) mulai dari 0

In [5]:
#Sifat-sifat list

L1=[1, 'dua', True, 2+3j]
#Terurut/Ordered
print('Memanggil List L1 dengan indeks urutan', L1[0:3])


#Bisa diganti/Mutable
L1[1]=2
print('List L1 setelah diubah', L1)

L1=[1, 'dua', True, 2+3j]

L1=[1, 'dua', True, 2+3j]
#Dapat Diindeks/Slicing
print('Slicing List L1:' , L1[3])

#Dapat Diijinkan Duplikasi
L1=[1, 'dua', True, 2+3j, 2+3j]
print('Duplikasi pada list L1:', L1)

#Dapat mengubah data dengan mengganti elemen tertentu
L1=[1, 'dua', True, 2+3j, 2+3j]
L1[2]=3

#Dapat menambahkan elemen baru pada data
L1=[1, 'dua', True, 2+3j]
L1.append(20)
print('Data setelah ditambahkan elemennya:',L1)

#Dapat menghapus elemen pada data(remove() = menghapus berdasarkan nama objek)
L1=[1, 'dua', True, 2+3j]
L1.remove(2+3j)
print('Data setelah dihapus elemennya:',L1)

Memanggil List L1 dengan indeks urutan [1, 'dua', True]
List L1 setelah diubah [1, 2, True, (2+3j)]
Slicing List L1: (2+3j)
Duplikasi pada list L1: [1, 'dua', True, (2+3j), (2+3j)]
Data setelah ditambahkan elemennya: [1, 'dua', True, (2+3j), 20]
Data setelah dihapus elemennya: [1, 'dua', True]

In [6]:
#menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individu)

L1=[1, 'dua', True, 2+3j]
L1.extend('nanas')
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [7]:
L1=[1, 'dua', True, 2+3j]
L1.extend(['nanas'])
print(L1)

[1, 'dua', True, (2+3j), 'nanas']

In [8]:
#menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu)

L1=[1, 'dua', True, 2+3j]
L1.insert(2,5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [9]:
#menambahkan elemen dari list menggunakan fungsi pop()(menghapus berdasarkan berdasarkan indeks)
L1=[1, 'dua', True, 2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

###Latihan 1
buat list kalian sendiri

In [13]:
L3=[not True, 'apel', 3, 3j+1, 2.8, 5, 'empat']
print(L3)

[False, 'apel', 3, (1+3j), 2.8, 5, 'empat']

###Latihan 2
ganti elemen di list

In [26]:
L3=[not True, 'apel', 3, 3j+1, 2.8, 5, 'empat']
L3[3]=5
print(L3)

L3.append(96)
print(L3)

L3.pop(0)
print(L3)

L3.extend([True])
print(L3)

L3[3]=10
print(L3)

[False, 'apel', 3, 5, 2.8, 5, 'empat']
[False, 'apel', 3, 5, 2.8, 5, 'empat', 96]
['apel', 3, 5, 2.8, 5, 'empat', 96]
['apel', 3, 5, 2.8, 5, 'empat', 96, True]
['apel', 3, 5, 10, 5, 'empat', 96, True]

###Struktur Data Tuple
Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya dan juga tidak bisa ditambahkan atau dihapus elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma/

In [27]:
#Contoh Tuple
T1=(1,'dua',True, 1+2j)
print('ini adalah tuple', T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [28]:
T11=1,'dua',True,1+2j
print('ini adalah tuple',T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [29]:
#Menampilkan tipe struktur data
type(T1)

tuple

###**Sifat-sifat Tuple**

In [ ]:
#Terurut/Ordered
T1=(1, 'dua', True)
print(T1[0:3])

(1, 'dua', True)

In [30]:
#Tidak bisa diganti/Immutable
T1[2]='manusia'

TypeError: ignored

In [31]:
#Dapat Dislicing
print('elemen kedua dari tuple T1 adalah:', T1[1])

elemen kedua dari tuple T1 adalah: dua

In [35]:
#Dapat Diijinkan Duplikasi
T2=(3,2.4,True,2.4)
T2

(3, 2.4, True, 2.4)

In [ ]:
#tidak dapat menambahkan elemen baru
T1=(1,'dua',True,1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [ ]:
T1.append(10)
T1.append(50)
print(f' tuple\t: {T1}')

AttributeError: ignored

In [32]:
#tidak dapat menghapus elemen
T1 = (1, 'dua', True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [33]:
T1.remove(1)
T1.remove('dua')
print(f' tuple\t: {T1}')

AttributeError: ignored

###Menggabungkan Tuple

In [36]:
#Menggabungkan tuple
T3 = T1 +T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

###**Latihan**

In [38]:
T12 = (not False, 6, 7.4, 'kiwi')
print(T12)

(True, 6, 7.4, 'kiwi')

###**Latihan 2**

In [41]:
T22 = ('lima', 2+5j, not True, 2)
print(T22)

T23 = T12 + T22
T23

('lima', (2+5j), False, 2)

(True, 6, 7.4, 'kiwi', 'lima', (2+5j), False, 2)